<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>증명서 검증 실패</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 50px;
            text-align: center;
        }

        h1 {
            color: forestgreen;
        }

        p {
            font-size: 18px;
            color: #333;
            margin-top: 20px;
        }

        img {
            width: 200px;
            height: auto;
            margin-top: 20px;
        }
    </style>
</head>
<body>

    <h1>증명서 검증 성공</h1>
    <p>입력하신 증명서가 유효합니다.</p>
	<img src="https://cdn-icons-png.flaticon.com/512/148/148767.png" alt="Success Image">

</body>
</html>
