<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="../../assets/images/logos/favicon.png" />
  	<link rel="stylesheet" href="../../assets/css/styles.min.css" />
    <title>증명서 진위 확인</title>
    <style>
        h1 {
            color: #007bff;
        }
        video {
            width: 100%;
            max-width: 600px;
            margin-bottom: 20px;
        }
        #QRVerificate {
            text-align: center;
        }
        #verificationResult {
            margin-top: 20px;
        }
        #QRVerificate button {
            display: inline-block;
            margin-top: 10px; /* 원하는 여백 조절 */
            padding: 10px 20px; /* 패딩 조절 */
            font-size: 16px; /* 폰트 크기 조절 */
            background-color: #007bff; /* 배경색 설정 */
            color: #fff; /* 글자색 설정 */
            border: none; /* 테두리 없애기 */
            border-radius: 5px; /* 버튼 테두리 둥글게 만들기 */
            cursor: pointer;
        }

        #QRVerificate button:hover {
            background-color: #0056b3; /* 마우스 호버 시 배경색 변경 */
        }
    </style>
</head>
<body>
	
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="/employee/main" class="text-nowrap logo-img">
            <img src="../../assets/images/logos/dark-logo.svg" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/employee/main" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">메인페이지</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Service</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/vacation/request" aria-expanded="false">
                <span>
                  <i class="ti ti-writing"></i>
                </span>
                <span class="hide-menu">휴가신청</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/vacation/request/list" aria-expanded="false">
                <span>
                  <i class="ti ti-calendar-event"></i>
                </span>
                <span class="hide-menu">휴가 신청 목록</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/certificate/request" aria-expanded="false">
                <span>
                  <i class="ti ti-certificate"></i>
                </span>
                <span class="hide-menu">증명서 발급</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/certificate/view" aria-expanded="false">
                <span>
                  <i class="ti ti-list"></i>
                </span>
                <span class="hide-menu">증명서 신청 목록</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">AUTH</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/employee/logout" aria-expanded="false">
                <span>
                  <i class="ti ti-logout"></i>
                </span>
                <span class="hide-menu">Logout</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Admin</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/manager/employee/list" aria-expanded="false">
                <span>
                  <i class="ti ti-users"></i>
                </span>
                <span class="hide-menu">조직관리</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/vacation/schedule/list" aria-expanded="false">
                <span>
                  <i class="ti ti-luggage"></i>
                </span>
                <span class="hide-menu">휴가관리</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/scheduler/list/view" aria-expanded="false">
                <span>
                  <i class="ti ti-clock-2"></i>
                </span>
                <span class="hide-menu">스케줄러 관리</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/certificate/verificate" aria-expanded="false">
                <span>
                  <i class="ti ti-id-badge"></i>
                </span>
                <span class="hide-menu">인증서 검증</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <li class="nav-item" style="margin-right: 15px;">
                <p th:text="${employee.empId}">사원 아이디</p>
              </li>
              <li class="nav-item" style="margin-right: 15px;">
                <p th:text="${employee.name}">이름</p>
              </li>
              <li class="nav-item">
                <p th:text="${employee.email}">이메일</p>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
      <div class="container-fluid">
		  


    <div id="QRVerificate">
        <h1>증명서 진위 확인</h1>
        <video id="video" playsinline class="mb-3"></video>
        <br>
        <button onclick="scanQRCode()">QR 코드 스캔 시작</button>
        <p id="verificationResult"></p>
    </div>

      </div>
    </div>
  </div>



    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    <script>
        const video = document.getElementById('video');
        const qrResultElement = document.getElementById('verificationResult');
        let scanner;

        async function scanQRCode() {
            try {
                const stream = await navigator.mediaDevices.getUserMedia({ video: { facingMode: 'environment' } });

                video.srcObject = stream;

                scanner = new Instascan.Scanner({ video: video, charset: 'UTF-8' });

                scanner.addListener('scan', function (result) {
                    verifyCertificate(result);
                    // 스캔이 완료되면 카메라 정지
                    stopCamera();
                });

                Instascan.Camera.getCameras().then(cameras => {
                    if (cameras.length > 0) {
                        scanner.start(cameras[0]);
                    } else {
                        console.error('사용 가능한 카메라가 없습니다.');
                    }
                });
            } catch (error) {
                console.error('카메라에 접근할 수 없습니다:', error);
            }
        }

        function verifyCertificate(qrCodeData) {
            // 실제로는 서버로 데이터를 전송하여 검증하는 로직이 들어가야 함
            // 여기서는 간단한 예시로 '인증 성공' 또는 '인증 실패' 메시지를 반환함
            
            let datas = qrCodeData.split(',')
            let certificateId = datas[0]
            let empId = datas[1]
            certificateView(empId, certificateId)
            
            return 
        }

        function stopCamera() {
            if (scanner) {
                scanner.stop();
            }
            if (video.srcObject) {
                const tracks = video.srcObject.getTracks();
                tracks.forEach(track => track.stop());
                video.srcObject = null;
            }
        }
        
        var openedWindow;
    
        function certificateView(empId, certificateId) {
            if (openedWindow && !openedWindow.closed) {
                openedWindow.close(); // 기존 창이 열려있다면 닫기
            }
    
            const previewUrl = '/certificate/verificate/view?empId=' + empId + '&certificateId=' + certificateId;
            openedWindow = window.open(previewUrl, '_blank', 'width=1000, height=1000, scrollbars=true');
        }
    </script>

</body>
</html>
