<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>증명서 발급</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link rel="shortcut icon" type="image/png" href="../../assets/images/logos/favicon.png" />
  	<link rel="stylesheet" href="../../assets/css/styles.min.css" />
</head>
<style>
	#certificateRequestBody {
		padding: 20px;
	}
	table {
	  border: 1px #a39485 solid;
	  font-size: .9em;
	  box-shadow: 0 2px 5px rgba(0,0,0,.25);
	  width: 100%;
	  border-collapse: collapse;
	  border-radius: 5px;
	  overflow: hidden;
	}
	
	th {
	  text-align: left;
	}
	  
	thead {
	  font-weight: bold;
	  color: #fff;
	  background: #73685d;
	}
	  
	 td, th {
	  padding: 1em .5em;
	  vertical-align: middle;
	}
	  
	 td {
	  border-bottom: 1px solid rgba(0,0,0,.1);
	  background: #fff;
	}
</style>
<body>
	
		
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="/employee/main" class="text-nowrap logo-img">
            <img src="../../assets/images/logos/dark-logo.svg" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/employee/main" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">메인페이지</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Service</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/vacation/request" aria-expanded="false">
                <span>
					<i class="ti ti-writing"></i>
                </span>
                <span class="hide-menu">휴가신청</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/vacation/request/list" aria-expanded="false">
                <span>
					<i class="ti ti-calendar-event"></i>
                </span>
                <span class="hide-menu">휴가 신청 목록</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/certificate/request" aria-expanded="false">
                <span>
					<i class="ti ti-certificate"></i>
                </span>
                <span class="hide-menu">증명서 발급</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/certificate/view" aria-expanded="false">
                <span>
					<i class="ti ti-list"></i>
                </span>
                <span class="hide-menu">증명서 신청 목록</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Admin</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/manager/employee/list" aria-expanded="false">
                <span>
					<i class="ti ti-users"></i>
                </span>
                <span class="hide-menu">조직관리</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/vacation/schedule/list" aria-expanded="false">
                <span>
					<i class="ti ti-luggage"></i>
                </span>
                <span class="hide-menu">휴가관리</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/scheduler/list/view" aria-expanded="false">
                <span>
					<i class="ti ti-clock-2"></i>
                </span>
                <span class="hide-menu">스케줄러 관리</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
				<li class="nav-item" style="margin-right: 15px;">
					<p th:text="${employee.empId}">사원 아이디</p>
				</li>
				<li class="nav-item" style="margin-right: 15px;">
					<p th:text="${employee.name}">이름</p>
				</li>
				<li class="nav-item">
					<p th:text="${employee.email}">이메일</p>
				</li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
      <div class="container-fluid">
	<div id="certificateRequestBody">
		<h2>증명서 발급</h2>
	    <table>
	        <thead>
	            <th>양식명</th>
	            <th>양식설명</th>
	            <th colspan="1"></th>
	            <th colspan="1"></th>
	        </thead>
	        <tbody>
		        <tr>
		            <td>경력증명서</td>
		            <td>경력을 증명는 문서입니다.</td>
		            <td><button onclick="certificatePreViewOpen('경력증명서')" class="btn btn-primary">미리보기</button></td>
		            <td><button onclick="requestCertificate('경력증명서')" class="btn btn-success">신청</button></td>
		        </tr>
		        <tr>
		            <td>재직증명서</td>
		            <td>재직을 증명하는 문서입니다.</td>
		            <td><button th:if="${employee.retireDate == null}" onclick="certificatePreViewOpen('재직증명서')" 
		            		class="btn btn-primary">미리보기</button></td>
		            <td><button th:if="${employee.retireDate == null}" onclick="requestCertificate('재직증명서')" 
		            		class="btn btn-success">신청</button></td>
		        </tr>
		        <tr>
		            <td>퇴직증명서</td>
		            <td>퇴사를 증명하는 문서입니다.</td>
		            <td><button th:if="${employee.retireDate != null}" onclick="certificatePreViewOpen('퇴직증명서')"
		                    class="btn btn-primary">미리보기</button></td>
		            <td><button th:if="${employee.retireDate != null}" onclick="requestCertificate('퇴직증명서')"
		                    class="btn btn-success">신청</button></td>
		        </tr>
			</tbody>
	
	    </table>	
	</div>
      </div>
    </div>
  </div>

    
    <script th:inline="javascript">
	    /*<![CDATA[*/
	    var openedWindow;
	
	    function certificatePreViewOpen(type) {
	        if (openedWindow && !openedWindow.closed) {
	            openedWindow.close(); // 기존 창이 열려있다면 닫기
	        }

	        const empId = /*[[${employee.empId}]]*/;
	        const previewUrl = '/certificate/request/view?emp_id=' + empId + '&type=' + type;
	        openedWindow = window.open(previewUrl, '_blank', 'width=1000, height=1000, scrollbars=true');
	    }
	    
	    function requestCertificate(certifiateType) {
			var url = '/certificate/generate';
			const empId = /*[[${employee.empId}]]*/;
			var requestBody = {
			    emp_id: empId,
			    type: certifiateType
			};
			
			// AJAX 요청 생성
			var xhr = new XMLHttpRequest();
			xhr.open('POST', url, true);
			xhr.setRequestHeader('Content-Type', 'application/json');
			
			// 요청 완료 시 실행될 함수 설정
			xhr.onreadystatechange = function () {
			    if (xhr.readyState == 4 && xhr.status == 200) {
			        // 성공적으로 요청이 완료되었을 때 실행할 코드
			        alert('요청이 성공적으로 접수되었습니다.\n접수 번호 : ' + xhr.responseText);
			    }
			};
			
			// JSON 데이터를 문자열로 변환하여 요청 전송
			xhr.send(JSON.stringify(requestBody));
        }
	    /*]]>*/
	</script>
</body>
<script src="../../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/js/sidebarmenu.js"></script>
<script src="../../assets/js/app.min.js"></script>
<script src="../../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../../assets/libs/simplebar/dist/simplebar.js"></script>
<script src="../../assets/js/dashboard.js"></script>
</html>