<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
    function sendPassword(){
		let password1 = $("#password1").val();
        let password2 = $("#password2").val();
		
        if(password1 != password2){
            $("#checkpwd").css("display","block");
        }else{
	        $.ajax({
	            url:"/employee/change-password",
	            type:"post",
	            dataType:"json",
	            timeout : 5000,
	            data:{ "password": $("#password1").val() },
	            success: function(data){ 
	                alert(data.resultMessage);
	                console.log(data.resultMessage);
	            },
	            error : function(xhr, ajaxSettings, thrownError) {
			       alert(thrownError);
			   }
	        });
        }
    }

    function confirmNumber(){
        let number1 = $("#number").val();
        let number2 = $("#confirm").val();
		
        if(number1 == number2){
            alert("인증되었습니다.");
        }else{
            alert(number1 +","+number2+ "인증번호가 일치하지 않습니다.");
        }
    }
</script>
<body>
    <div id="change_pwd" name="change_pwd">
		<input type="password" name="password1" id="password1" placeholder="새 비밀번호">
		<input type="password" name="password2" id="password2" placeholder="새 비밀번호 확인">
		<p id="checkpwd" style="color: red; display: none;">비밀번호가 일치하지 않습니다.</p>
		<button type="button" id="sendBtn" name="sendBtn" onclick="sendPassword()">비밀번호 변경</button>
	</div>
</body>
</html>