<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
    function sendNumber(){
		$("#sendBtn").attr("disabled", true);
        $.ajax({
            url:"/employee/find-password",
            type:"post",
            dataType:"json",
            timeout : 25000,
            data:{
				"empId": $("#emp_id").val(),
				"name": $("#name").val(), 
				"email": $("#email").val()
			},
            success: function(data){ 
				$("#mail_number").css("display","block");
                alert(data.subject);
                console.log(data.subject);
                console.log(data.content);
                $("#confirm").attr("value",data.content);
            },
            error : function(xhr, ajaxSettings, thrownError) {
		       alert(thrownError);
		   }
        });
    }

    function confirmNumber(){
        let number1 = $("#number").val();
        let number2 = $("#confirm").val();
		
        if(number1 == number2){
            alert("인증되었습니다.");
            location.href = "/employee/change-password";
        }else{
            alert(number1 +","+number2+ "인증번호가 일치하지 않습니다.");
        }
    }
</script>
<body>
    <div id="mail_input" name="mail_input">
		<input type="text" name="emp_id" id="emp_id" placeholder="id입력">
		<input type="text" name="name" id="name" placeholder="이름 입력">
		<input type="text" name="email" id="email" placeholder="이메일 입력">
		<button type="button" id="sendBtn" name="sendBtn" onclick="sendNumber()">인증번호 전송</button>
	</div>
    <br>
    <div id="mail_number" name="mail_number" style="display: none">
		<input type="text" name="number" id="number" placeholder="인증번호 입력">
		<button type="button" name="confirmBtn" id="confirmBtn" onclick="confirmNumber()">이메일 인증</button>
	</div>
	<br>
    <input type="text" id="confirm" name="confirm" style="display: none" value="">
</body>
</html>