<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.vms.schedule.repository.IScheduleRepository">
    
    <select id="getSchedulebydeptId" resultType="com.example.vms.schedule.model.Schedule">
	    <![CDATA[
		    SELECT 
		        CALENDER_ID as calender_Id,
		        TITLE as title,
		        START_DATE as start_date,
		        END_DATE as end_date,
		        EMP_ID as emp_id,
		        DEPT_ID as dept_id,
		        TYPE_ID as type_id
		    FROM 
		        SCHEDULE
		    WHERE
		    	DEPT_ID = #{dept_id}
		]]>
	</select>
	
</mapper>