<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.vms.schedule.repository.IScheduleRepository">
    
    <select id="getSchedulebydeptId" resultType="com.example.vms.schedule.model.Schedule">
	    <![CDATA[
		    SELECT 
		        CALENDER_ID as calender_Id,
		        TITLE as title,
		        START_DATE as start_date,
		        END_DATE as end_date,
		        EMP_ID as emp_id,
		        DEPT_ID as dept_id,
		        TYPE_ID as type_id
		    FROM 
		        SCHEDULE
		    WHERE
		    	DEPT_ID = #{dept_id}
		]]>
	</select>
	
	<select id="getCountAllSchedule" resultType="int">
		SELECT count(*)
		FROM SCHEDULE
	</select>
	
	<select id="getAllSchedule" resultType="com.example.vms.schedule.model.ScheduleEmpDeptType">
	    <![CDATA[
		    SELECT 
			    s.CALENDER_ID as calendarId,
			    d.NAME as deptName,
			    e.NAME as empName,
			    e.POSITION as position,
			    t.NAME as TypeName,
			    s.START_DATE as startDate,
			    s.END_DATE as endDate
			FROM 
			    SCHEDULE s JOIN EMPLOYEES e ON s.EMP_ID = e.EMP_ID
			    JOIN DEPARTMENTS d ON s.DEPT_ID = d.DEPT_ID
			    JOIN VACATION_TYPE t ON s.TYPE_ID = t.TYPE_ID
		]]>

	<insert id="insertSchedule" parameterType="com.example.vms.schedule.model.Schedule">
	    <![CDATA[
		    INSERT INTO 
		    SCHEDULE (calender_Id, title, start_date, end_date, emp_id, dept_id, type_id)
		    VALUES (#{calender_Id}, #{title}, #{start_date}, #{end_date}, #{emp_id}, #{dept_id}, #{type_id})
		]]>
	</insert>
	
	<select id="maxScheduleId" resultType="int"> 
		SELECT NVL(MAX(CALENDER_ID),0) FROM SCHEDULE
	</select>
	
</mapper>