<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>휴가 신청 내역</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    body {
      background-color: #f8f9fa;
    }

    .container {
      background-color: #fff;
      padding: 20px;
      margin-top: 30px;
    }

	table tr td {
      cursor: pointer;
    }
    
    h4 {
      margin: 10px;
      margin-bottom: 20px;
      margin-top: 20px;
      font-weight: bold;
    }

    .table th, .table td {
      text-align: center;
    }

    .status-btn {
      cursor: pointer;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: bold;
      display: inline-block;
      font-size: medium;
    }

    .status-승인 {
      background-color: rgb(60, 155, 234);
      color: #fff;
    }

    .status-결재대기 {
      background-color: rgb(163, 163, 163);
      color: #fff;
    }

    .status-반려 {
      background-color: rgb(255, 0, 0);
      color: #fff;
    }

    .cancel {
      font-size: small;
      font-weight: lighter;
      color: rgb(163, 163, 163);
      margin-left: 10px;
      cursor: pointer;
    }
    
    .cancel.active {
	  font-size: small;
      font-weight: bold;
      color: black;
      margin-left: 10px;
      cursor: pointer;
	}
  </style>
  
  <script th:inline="javascript">
	/*<![CDATA[*/

	let httpReq=null;
	let returnParameter = /*[[${return}]]*/;
	if(returnParameter === 'false') {
		removeSessionItem();
	}
	let currentPage = parseInt(getSessionItem('currentPage')) || 1;
	let isCancel = getSessionItem('isCancel') || false;
	
	if(isCancel === "true") {
		isCancel = true;
	} else {
		isCancel = false;
	}
	
	window.onload = function() {	
    	let cancelBtn = document.querySelector(".cancel");
		if(isCancel) cancelBtn.classList.add('active');
		else cancelBtn.classList.remove('active');
		
    	showList();
    	pagination(isCancel);
	}
	
	function pagination(cancel) {
	
		let getRowNumUrl = "/vacation/request/getrow";
		if(cancel) {
			getRowNumUrl = "/vacation/request/getrow?state=취소"
		}
		
	    fetch(getRowNumUrl)
  		.then((response) => response.json())
  		.then((data) => {
			 
	  		let rowNum = data;
		    // 페이지당 행 수 설정
		    let rowsPerPage = 10;
		
		    // 전체 페이지 수 계산
		    let totalPages = Math.ceil(rowNum / rowsPerPage);
		
		    // 페이지 번호를 동적으로 생성하여 HTML에 추가
		    let pagination = document.querySelector('.pagination');
		    pagination.innerHTML = '';  // 기존 페이지 번호 제거
			
			//이전 페이지 이동 버튼
			let prev = document.createElement('li');
		    prev.classList.add('page-item');
		    
			let prevLink = document.createElement('a');
		    prevLink.classList.add('page-link');
		    prevLink.textContent = '<';
		    prevLink.addEventListener('click', (event) => {
				currentPage--;
				if(currentPage < 1) currentPage = 1;
				showList();
				movePage();
			});
		    prev.appendChild(prevLink);
		    pagination.appendChild(prev);
		    
		    for (var i = 1; i <= totalPages; i++) {
		        var li = document.createElement('li');
		        li.classList.add('page-item');
		
		        var a = document.createElement('a');
		        a.classList.add('page-link');
		 
		        // 페이지 번호 텍스트 설정
		        a.textContent = i;
		
				// 현재 페이지 active
		        if(i == currentPage) {
					li.classList.add('active');
				}
				
		        a.addEventListener('click', (event) => {
					showList(event);
					movePage();
				});
		
		        li.appendChild(a);
		        pagination.appendChild(li);
	    	}
	    	//다음 페이지 이동 버튼
			let next = document.createElement('li');
		    next.classList.add('page-item');
		    
			let nextLink = document.createElement('a');
		    nextLink.classList.add('page-link');
		    nextLink.textContent = '>';
		    nextLink.addEventListener('click', (event) => {
				currentPage++;
				if(currentPage > totalPages) currentPage--;
				showList();
				movePage();
			});
		    next.appendChild(nextLink);
		    pagination.appendChild(next);
  
  		})
	}
	
    function showDetail(row) {
		setSessionItem();
		let url = row.getAttribute('url');
		location.href = url;
    }
    
   	function getInstance(){
      if(window.XMLHttpRequest){
         httpReq = new XMLHttpRequest(); 
      }else if(window.ActiveXObject){ 
         httpReq = new ActiveXObject("Msxml2.XMLHTTP");
      }else{
        throw new Error("AJAX 지원하지 않습니다"); 
      }
      return httpReq;  
   	}
   	
   	function handlerStateChange(){
       if(httpReq.readyState == 4){ //1. 서버에서 응답이 왔다면
          if(httpReq.status >= 200 && httpReq.status < 300){
    
             data = JSON.parse(httpReq.responseText)
             reloadTable(data);

          }else{
             alert("status Text : " + httpReq.status);
          }
       }
   }
   
   function reloadTable(requestData) {
        const tbody = document.getElementById('requestTableBody');
        tbody.innerHTML = '';

        requestData.forEach(function (item) {
            row = tbody.insertRow(); 
            regId = row.insertCell(0);
            typeName = row.insertCell(1);
            period = row.insertCell(2);
            regDate = row.insertCell(3);
            state = row.insertCell(4);

            regId.textContent = item.regId;
            typeName.textContent = item.empName;
            period.textContent = item.startDate +"~"+item.endDate;
            regDate.textContent = item.regDate;
            
           	//row.classList.add('aaa');
           	//row.setAttribute('url', '/vacation/requestd/'+item.regId);   //상세페이지 경로
           	//row.setAttribute('onclick', "showDetail(this)");
           	
            const statebtn = document.createElement('button')
            statebtn.classList.add('status-btn', 'status-'+item.state);
            statebtn.textContent = item.state;
            state.appendChild(statebtn);
        })
    }

   function showList(e){
	   
	   let url = "";
	   
	   //페이지 번호 클릭 이동
	   if(e != null) {
		   currentPage = e.target.text;
	   }
	   
	  let cancelBtn = document.querySelector(".waiting");
	  
	  if (isCancel) {
	    url = "/vacation/request/getlist?curpage="+currentPage+"&state=취소";
	  } else {
	    url = "/vacation/request/getlist?curpage="+currentPage+"&state=";
	  }
	  
      httpReq = getInstance();
      httpReq.onreadystatechange = handlerStateChange;  // x >> ()
      
      httpReq.open("GET",url); //form 태그 구성
      httpReq.send(); // form submit 버튼 클릭
   }
   
   function showWaiting() {
	  currentPage = 1;
	  let cancelBtn = document.querySelector(".cancel");
	  cancelBtn.classList.toggle("active");
	  isCancel = !isCancel;
	  showList();
	  
	  pagination(isCancel);
   }
   
   function setSessionItem() {
		sessionStorage.setItem('currentPage', currentPage);
		sessionStorage.setItem('isCancel', getInstance);
	}

	function getSessionItem(key) {
    	return sessionStorage.getItem(key)
	}
	
	function removeSessionItem() {
    	sessionStorage.removeItem('currentPage');
		sessionStorage.removeItem('isCancel');
	}
	
	function movePage() {
		let pageItems = document.querySelectorAll('.pagination .page-item');
  		pageItems.forEach((item, index) => {
			if(item.firstChild.text == currentPage) {
				item.classList.add('active');
			} else {
				item.classList.remove('active');	
			}
	   	});
	}
	
	
    /*]]>*/
  </script>
</head>
<body>

<div class="container">
  <h4>휴가 신청 내역 <span class="cancel" onclick="showWaiting()">취소 내역</span></h4>

  <table class="table">
    <thead>
      <tr>
        <th>번호</th>
        <th>휴가 유형</th>
        <th>기간</th>
        <th>신청일</th>
        <th>상태</th>
      </tr>
    </thead>
    <tbody id = "requestTableBody">
    </tbody>
  </table>
  <ul class="pagination justify-content-center">
  </ul>
</div>

</body>
</html>
