<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>휴가 신청 내역</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <link rel="shortcut icon" type="image/png" href="../../assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="../../assets/css/styles.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="shortcut icon" type="image/png" href="../../assets/images/logos/favicon.png" />
  <link rel="stylesheet" href="../../assets/css/styles.min.css" />
  
  <style>

	table tr td {
      cursor: pointer;
    }
    
    h4 {
      margin: 10px;
      margin-bottom: 20px;
      margin-top: 20px;
      font-weight: bold;
    }

    .table th, .table td {
      text-align: center;
    }

    .status-btn {
      cursor: pointer;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: bold;
      display: inline-block;
      font-size: medium;
    }

    .status-승인 {
      background-color: rgb(60, 155, 234);
      color: #fff;
    }

    .status-결재대기 {
      background-color: rgb(163, 163, 163);
      color: #fff;
    }

    .status-반려 {
      background-color: rgb(255, 0, 0);
      color: #fff;
    }
    
    .waiting {
      font-size: small;
      font-weight: lighter;
      color: rgb(163, 163, 163);
      margin-left: 10px;
      cursor: pointer;
    }
    
    .waiting.active {
	  font-size: small;
      font-weight: bold;
      color: black;
      margin-left: 10px;
      cursor: pointer;
	}
  </style>
  
  <script th:inline="javascript">
	/*<![CDATA[*/

	let httpReq=null;
	let returnParameter = /*[[${return}]]*/;
	if(returnParameter === 'false') {
		removeSessionItem();
	}
	
	let currentPage = parseInt(getSessionItem('currentPage')) || 1;
	let isWaiting = getSessionItem('isWaiting') || false;
	
	if(isWaiting === "true") {
		isWaiting = true;
	} else {
		isWaiting = false;
	}
	
	window.onload = function() {
		let waitingBtn = document.querySelector(".waiting");
		if(isWaiting) waitingBtn.classList.add('active');
		else waitingBtn.classList.remove('active');
			
    	showList();
    	pagination(isWaiting);
	}
	
	function pagination(waiting) {

		let getRowNumUrl = "/vacation/request/getrow";
		if(waiting) {
			getRowNumUrl = "/vacation/request/getrow?state=결재대기"
		}

	    fetch(getRowNumUrl)
  		.then((response) => response.json())
  		.then((data) => {
			
	  		let rowNum = data;
		    // 페이지당 행 수 설정
		    let rowsPerPage = 10;
		
		    // 전체 페이지 수 계산
		    let totalPages = Math.ceil(rowNum / rowsPerPage);
		
		    // 페이지 번호를 동적으로 생성하여 HTML에 추가
		    let pagination = document.querySelector('.pagination');
		    pagination.innerHTML = '';  // 기존 페이지 번호 제거
			
			//이전 페이지 이동 버튼
			let prev = document.createElement('li');
		    prev.classList.add('page-item');
		    
			let prevLink = document.createElement('a');
		    prevLink.classList.add('page-link');
		    prevLink.textContent = '<';
		    prevLink.addEventListener('click', (event) => {
				currentPage--;
				if(currentPage < 1) currentPage = 1;
				showList();
				movePage();
			});
		    prev.appendChild(prevLink);
		    pagination.appendChild(prev);
		    
		    for (var i = 1; i <= totalPages; i++) {
		        var li = document.createElement('li');
		        li.classList.add('page-item');
		
		        var a = document.createElement('a');
		        a.classList.add('page-link');
		 
		        // 페이지 번호 텍스트 설정
		        a.textContent = i;
		        
		        // 현재 페이지 active
		        if(i == currentPage) {
					li.classList.add('active');
				}
		
		        // 클릭 이벤트 핸들러 등록
		        a.addEventListener('click', (event) => {
					showList(event);
					movePage();
				});
		
		        li.appendChild(a);
		        pagination.appendChild(li);
		    }
		    //다음 페이지 이동 버튼
			let next = document.createElement('li');
		    next.classList.add('page-item');
		    
			let nextLink = document.createElement('a');
		    nextLink.classList.add('page-link');
		    nextLink.textContent = '>';
		    nextLink.addEventListener('click', (event) => {
				currentPage++;
				if(currentPage > totalPages) currentPage--;
				showList();
				movePage();
			});
		    next.appendChild(nextLink);
		    pagination.appendChild(next);
  
  		})
	}
	
    function showDetail(row) {
      setSessionItem();
      let url = row.getAttribute('url');
      location.href = url;
    }
    
   	function getInstance(){
      if(window.XMLHttpRequest){
         httpReq = new XMLHttpRequest(); 
      }else if(window.ActiveXObject){
         httpReq = new ActiveXObject("Msxml2.XMLHTTP");
      }else{
        throw new Error("AJAX 지원하지 않습니다"); 
      }
      return httpReq;  
   	}
   	
   	function handlerStateChange(){
       if(httpReq.readyState == 4){ //1. 서버에서 응답이 왔다면
          if(httpReq.status >= 200 && httpReq.status < 300){
    
             data = JSON.parse(httpReq.responseText)
             reloadTable(data);

          }else{
             alert("status Text : " + httpReq.status);
          }
       }
   }
   
   function reloadTable(requestData) {
        const tbody = document.getElementById('requestTableBody');
        tbody.innerHTML = '';

        requestData.forEach(function (item) {
            row = tbody.insertRow(); 
            regId = row.insertCell(0);
            empName = row.insertCell(1);
            period = row.insertCell(2);
            regDate = row.insertCell(3);
            state = row.insertCell(4);
            
            regId.textContent = item.regId;
            empName.textContent = item.empName;
            period.textContent = item.startDate +"~"+item.endDate;
            regDate.textContent = item.regDate;
           
           	row.setAttribute('url', '/vacation/request/list/team/'+item.regId);
           	row.setAttribute('onclick', "showDetail(this)");
           	
            const statebtn = document.createElement('button')
            statebtn.classList.add('status-btn', 'status-'+item.state);
            statebtn.textContent = item.state;
            state.appendChild(statebtn);
        })
    }

   function showList(e){
	   
	   let url = "";
	   
	   //페이지 번호 클릭 이동
	   if(e != null) {
		   currentPage = e.target.text;
	   }
	   
	  let waitingBtn = document.querySelector(".waiting");
	  
	  if (isWaiting) {
	    url = "/vacation/request/getlist?curpage="+currentPage+"&state=결재대기";
	  } else {
	    url = "/vacation/request/getlist?curpage="+currentPage+"&state=";
	  }
	 
      httpReq = getInstance();
      httpReq.onreadystatechange = handlerStateChange;  // x >> ()
      
      httpReq.open("GET",url); //form 태그 구성
      httpReq.send(); // form submit 버튼 클릭
   }
   
   function showWaiting() {
	  currentPage = 1;
	  let waitingBtn = document.querySelector(".waiting");
	  waitingBtn.classList.toggle("active");
	  isWaiting = !isWaiting;
	  showList();
	  pagination(isWaiting);
   }
   
   function setSessionItem() {
		sessionStorage.setItem('currentPage', currentPage);
		sessionStorage.setItem('isWaiting', isWaiting);
	}

	function getSessionItem(key) {
    	return sessionStorage.getItem(key)
	}
	
	function removeSessionItem() {
    	sessionStorage.removeItem('currentPage');
		sessionStorage.removeItem('isWaiting');
	}
	
	function movePage() {
		let pageItems = document.querySelectorAll('.pagination .page-item');
  		pageItems.forEach((item, index) => {
			if(item.firstChild.text == currentPage) {
				item.classList.add('active');
			} else {
				item.classList.remove('active');	
			}
	   	});
	}
	
    /*]]>*/
  </script>
</head>
<body>
			
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="/employee/main" class="text-nowrap logo-img">
            <img src="../../assets/images/logos/dark-logo.svg" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/employee/main" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">메인페이지</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Service</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/vacation/request" aria-expanded="false">
                <span>
                  <i class="ti ti-writing"></i>
                </span>
                <span class="hide-menu">휴가신청</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/vacation/request/list" aria-expanded="false">
                <span>
                  <i class="ti ti-calendar-event"></i>
                </span>
                <span class="hide-menu">휴가 신청 목록</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/certificate/request" aria-expanded="false">
                <span>
                  <i class="ti ti-certificate"></i>
                </span>
                <span class="hide-menu">증명서 발급</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/certificate/view" aria-expanded="false">
                <span>
                  <i class="ti ti-list"></i>
                </span>
                <span class="hide-menu">증명서 신청 목록</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">AUTH</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/employee/logout" aria-expanded="false">
                <span>
                  <i class="ti ti-logout"></i>
                </span>
                <span class="hide-menu">Logout</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Admin</span>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/manager/employee/list" aria-expanded="false">
                <span>
                  <i class="ti ti-users"></i>
                </span>
                <span class="hide-menu">조직관리</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/vacation/schedule/list" aria-expanded="false">
                <span>
                  <i class="ti ti-luggage"></i>
                </span>
                <span class="hide-menu">휴가관리</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/scheduler/list/view" aria-expanded="false">
                <span>
                  <i class="ti ti-clock-2"></i>
                </span>
                <span class="hide-menu">스케줄러 관리</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/certificate/verificate" aria-expanded="false">
                <span>
                  <i class="ti ti-id-badge"></i>
                </span>
                <span class="hide-menu">인증서 검증</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <li class="nav-item" style="margin-right: 15px;">
                <p th:text="${employee.empId}">사원 아이디</p>
              </li>
              <li class="nav-item" style="margin-right: 15px;">
                <p th:text="${employee.name}">이름</p>
              </li>
              <li class="nav-item">
                <p th:text="${employee.email}">이메일</p>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
      <div class="container-fluid">
		  
        <!--  Row 1 -->
        <div class="container">
		  <h4>팀원 휴가 신청 내역 <span class="waiting" onclick="showWaiting()">결재 대기 중인 것만 보기</span></h4>
		
		  <table class="table">
		    <thead>
		      <tr>
		        <th>번호</th>
		        <th>신청자</th>
		        <th>기간</th>
		        <th>신청일</th>
		        <th>상태</th>
		      </tr>
		    </thead>
		    <tbody id = "requestTableBody">
		    </tbody>
		  </table>
		  <ul class="pagination justify-content-center">
		  </ul>
		</div>

      </div>
    </div>
  </div>
  <script src="../../assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/js/sidebarmenu.js"></script>
  <script src="../../assets/js/app.min.js"></script>
  <script src="../../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
  <script src="../../assets/libs/simplebar/dist/simplebar.js"></script>
  <script src="../../assets/js/dashboard.js"></script>
</body>
</html>
